body {
  font-family: "Roboto", sans-serif;

  color: #434455;
  background-color: #ffffff;
}
:root {
  --main-title-color: #2e2f42;
  --second-title-color: #434455;
  --therd-title-color: #4d5ae5;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

/* ------HEADER------ */

.header {
  padding-top: 32px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-list {
  display: flex;
  padding-left: 38px;
}
.header-item {
  margin-right: 40px;
}
.header-link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: flex;
  padding-left: 156px;
  padding-right: 38px;
}
.header-link-logo-second {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.header-link:hover,
.header-link:focus {
  color: #404bbf;
}
.header-address {
  font-style: normal;
}
.header-address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-address-list {
  display: flex;
}
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
.header-address-item {
  margin-right: 40px;
}
/* ------HERO------ */

.hero {
  background-color: var(--main-title-color);
  width: 1158px;
  height: 600px;
  margin: 0 auto;
}
.container-hero {
  
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 188px 472px 48px 472px;
  margin: 0 auto;
  
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: var(--therd-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  gap: 10px;
  padding: 16px 32px;
  margin: 0 auto;
}
.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

/* -----ABOUT----- */

.about {
  margin-top: 60px;
  margin-bottom: 60px;
}
.about-list {
}
.list {
}
.about-item {
}
.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.about-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}
/* -----BENEFITS----- */
.benefits {
}
.benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}
.benefits-list {
}
.list {
}
.benefits-item {
}

/* -----TEAM----- */

.team {
  background-color: #f4f4fd;
}
.team-top-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}
.team-list {
}
.team-item {
  background-color: #ffffff;
}
.team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

/* -----FOOTER----- */

.footer {
}

.container-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}
.footer-title {
}
.footer-link-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-link-logo-second {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

/* -----MAIN-NAV----- */
.main-navigation {
}
.main-navigation-list {
}

/* -----MAIN-BTN----- */

.main-navigation-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  background-color: #f4f4fd;
}
.main-navigation-btn:hover,
.main-navigation-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}
/* -----MAIN-LINK----- */
.main-navigation-item {
}
.main-navigation-link {
}
.link {
}

.main-navigation-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-navigation-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
